Azure Firewall/Template - Logic app for IDPS signature updates notification/Template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_IDPSRules_Test1_name": {
            "defaultValue": "IDPSRules-Test1",
            "type": "String"
        },
        "connections_office365_1_externalid": {
            "defaultValue": "/subscriptions/****/resourceGroups/****/providers/Microsoft.Web/connections/office365-1",
            "type": "String"
        },
		"Email": {
            "defaultValue": "",
            "type": "String"
        },
		"Subscription_ID": {
            "defaultValue": "",
            "type": "String"
        },
		"Resource_Group_Name": {
            "defaultValue": "",
            "type": "String"
        },
		"Policy_Name": {
            "defaultValue": "",
            "type": "String"
        }	
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_IDPSRules_Test1_name')]",
            "location": "centralus",
            "tags": {
                "createddate": "05/24/2022",
                "owner": "LGoldstein"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "0"
                                    ]
                                },
                                "timeZone": "UTC"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "0"
                                    ]
                                },
                                "timeZone": "UTC"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_HTML_table": {
                            "runAfter": {
                                "Filter_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "columns": [
                                    {
                                        "header": "SignatureID",
                                        "value": "@item()?['signatureId']"
                                    },
                                    {
                                        "header": "Description",
                                        "value": "@item()?['description']"
                                    },
                                    {
                                        "header": "Group",
                                        "value": "@item()?['group']"
                                    },
                                    {
                                        "header": "Severity",
                                        "value": "@item()?['severity']"
                                    },
                                    {
                                        "header": "Mode",
                                        "value": "@item()?['mode']"
                                    },
                                    {
                                        "header": "Protocol",
                                        "value": "@item()?['protocol']"
                                    },
                                    {
                                        "header": "Direction",
                                        "value": "@item()?['direction']"
                                    },
                                    {
                                        "header": "LastUpdated",
                                        "value": "@item()?['lastUpdated']"
                                    }
                                ],
                                "format": "HTML",
                                "from": "@body('Filter_array')"
                            }
                        },
                        "Filter_array": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON')?['signatures']",
                                "where": "@lessOrEquals(body('Get_past_time'), item()?['lastUpdated'])"
                            }
                        },
                        "Get_past_time": {
                            "runAfter": {},
                            "type": "Expression",
                            "kind": "GetPastTime",
                            "inputs": {
                                "interval": 2,
                                "timeUnit": "Day"
                            }
                        },
                        "HTTP": {
                            "runAfter": {
                                "Initialize_variable_-_email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "filters": [
                                        {
                                            "field": "Severity",
                                            "values": [
                                                "Medium",
                                                "High"
                                            ]
                                        }
                                    ],
                                    "orderBy": {
                                        "field": "lastUpdated",
                                        "order": "Descending"
                                    },
                                    "resultsPerPage": 500,
                                    "search": "",
                                    "skip": 0
                                },
                                "method": "POST",
                                "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroup')}/providers/Microsoft.Network/firewallPolicies/@{variables('policyName')}/listIdpsSignatures?api-version=2021-08-01"
                            }
                        },
                        "Initialize_variable_-_email": {
                            "runAfter": {
                                "Initialize_variable_-_policyName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "email",
                                        "type": "string",
                                        "value": "[parameters('Email')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_policyName": {
                            "runAfter": {
                                "Initialize_variable_-_resourceGroup": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "policyName",
                                        "type": "string",
                                        "value": "[parameters('Policy_Name')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_resourceGroup": {
                            "runAfter": {
                                "Initialize_variable_-_subscriptionId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceGroup",
                                        "type": "string",
                                        "value": "[parameters('Resource_Group_Name')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_subscriptionId": {
                            "runAfter": {
                                "Get_past_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subscriptionId",
                                        "type": "string",
                                        "value": "[parameters('Subscription_ID')]"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "matchingRecordsCount": {
                                            "type": "integer"
                                        },
                                        "signatures": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "destinationPorts": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "direction": {
                                                        "type": "integer"
                                                    },
                                                    "group": {
                                                        "type": "string"
                                                    },
                                                    "inheritedFromParentPolicy": {
                                                        "type": "boolean"
                                                    },
                                                    "lastUpdated": {
                                                        "type": "string"
                                                    },
                                                    "mode": {
                                                        "type": "integer"
                                                    },
                                                    "protocol": {
                                                        "type": "string"
                                                    },
                                                    "severity": {
                                                        "type": "integer"
                                                    },
                                                    "signatureId": {
                                                        "type": "integer"
                                                    },
                                                    "sourcePorts": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Create_HTML_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p><strong>IDPS Rules have been created or updated.<br>\n</strong><br>\n@{body('Create_HTML_table')}<br>\n<br>\n*Mode = current mode enforced, 0 - Disabled, 1 - Alert, 2 - Deny<br>\n*Severity = severity of signature, 1 - Low, 2 - Medium, 3 - High<br>\n*Direction = direction signature is being enforced, 0 - Inbound, 1 - Outbound, 2 - Bidirectional</p>",
                                    "Importance": "Normal",
                                    "Subject": "IDPS Rule Updates",
                                    "To": "@variables('email')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[parameters('connections_office365_1_externalid')]",
                                "connectionName": "office365-1",
                                "id": "/subscriptions/****/providers/Microsoft.Web/locations/centralus/managedApis/office365"
                            }
                        }
                    }
                }
            }
        }
    ]
}
