Azure DDoS Protection/Automation - DDoS Mitigation Alert Enrichment/Enrich-DDoSAlert.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Enrich-DDoSAlert",
            "type": "string"
        },
        "alertName": {
            "defaultValue": "DDoS Mitigation Started - Potential Attack",
            "type": "string"
        },
        "securityTeamEmail": {
            "type": "string",
            "metadata": {
                "Description": "This is the email address of the security team, which will be the recipient of the email alert along with the resource owner."
            }
        },
        "companyDomain": {
            "type": "string",
            "metadata": {
                "Description": "In the form of @company.com - this will be used to compose the email address of the resource owner."
            }
        },
        "workspaceName": {
            "type": "string",
            "metadata": {
                "Description": "Name of the existing Log Analytics workspace"
            }
        }
    },
    "variables": {
        "Office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Insights/actionGroups",
            "apiVersion": "2018-03-01",
            "name": "[parameters('LogicAppName')]",
            "location": "Global",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('LogicAppName'))]"
            ],
            "properties": {
              "groupShortName": "DDoSLogicApp",
              "enabled": true,
              "smsReceivers": [],
              "emailReceivers": [],
              "webhookReceivers": [
                {
                  "name": "[concat(parameters('LogicAppName'), '-webhook')]",
                  "serviceUri": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('LogicAppName')), '/triggers/manual'), '2016-06-01').value]"
                }
              ]
            }
          },
        {
            "name": "[parameters('alertName')]",
            "type": "Microsoft.Insights/scheduledQueryRules",
            "apiVersion": "2018-04-16",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Insights/actionGroups', parameters('LogicAppName'))]"
            ],
            "properties": {
                "description": "This alert detects a MitigationStarted event logged by Azure DDoS Protection Standard.",
                "enabled": "true",
                "source": {
                    "Query": "AzureDiagnostics | where Category == \"DDoSProtectionNotifications\" | where type_s == \"MitigationStarted\" | project ResourceId, SubscriptionId, Message, publicIpAddress_s",
                    "dataSourceId": "[resourceId('Microsoft.OperationalInsights/workspaces',parameters('workspaceName'))]",
                    "queryType": "ResultCount"
                },
                "schedule": {
                    "frequencyInMinutes": 5,
                    "timeWindowInMinutes": 5
                },
                "action":{
                    "odata.type": "Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction",
                    "severity": "2",
                    "aznsAction": {
                        "actionGroup": [
                        "[resourceId('Microsoft.Insights/actiongroups', parameters('LogicAppName'))]"
                    ]
                },
                    "trigger":{
                        "thresholdOperator": "GreaterThan",
                        "threshold": 0
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "<username>@<domain>",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "createddate": "11/03/2020",
                "owner": "anroma"
            },
            "identity": {
                "principalId": "",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "companyDomain": {
                            "defaultValue": {},
                            "type": "String"
                        },
                        "securityTeamEmail": {
                            "defaultValue": {},
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "AlertRuleName": {
                                            "type": "string"
                                        },
                                        "AlertThresholdOperator": {
                                            "type": "string"
                                        },
                                        "AlertThresholdValue": {
                                            "type": "integer"
                                        },
                                        "AlertType": {
                                            "type": "string"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "LinkToFilteredSearchResultsAPI": {
                                            "type": "string"
                                        },
                                        "LinkToFilteredSearchResultsUI": {
                                            "type": "string"
                                        },
                                        "LinkToSearchResults": {
                                            "type": "string"
                                        },
                                        "LinkToSearchResultsAPI": {
                                            "type": "string"
                                        },
                                        "ResourceId": {
                                            "type": "string"
                                        },
                                        "ResultCount": {
                                            "type": "integer"
                                        },
                                        "SearchIntervalEndtimeUtc": {
                                            "type": "string"
                                        },
                                        "SearchIntervalInSeconds": {
                                            "type": "integer"
                                        },
                                        "SearchIntervalStartTimeUtc": {
                                            "type": "string"
                                        },
                                        "SearchQuery": {
                                            "type": "string"
                                        },
                                        "SearchResult": {
                                            "properties": {
                                                "dataSources": {
                                                    "items": {
                                                        "properties": {
                                                            "region": {
                                                                "type": "string"
                                                            },
                                                            "resourceId": {
                                                                "type": "string"
                                                            },
                                                            "tables": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "resourceId",
                                                            "region",
                                                            "tables"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "statistics": {
                                                    "properties": {
                                                        "query": {
                                                            "properties": {
                                                                "datasetStatistics": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "tableRowCount": {
                                                                                "type": "integer"
                                                                            },
                                                                            "tableSize": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "tableRowCount",
                                                                            "tableSize"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "executionTime": {
                                                                    "type": "number"
                                                                },
                                                                "inputDatasetStatistics": {
                                                                    "properties": {
                                                                        "extents": {
                                                                            "properties": {
                                                                                "scanned": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "scannedMaxDatetime": {
                                                                                    "type": "string"
                                                                                },
                                                                                "scannedMinDatetime": {
                                                                                    "type": "string"
                                                                                },
                                                                                "total": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "rows": {
                                                                            "properties": {
                                                                                "scanned": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "total": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "rowstores": {
                                                                            "properties": {
                                                                                "scannedRows": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "scannedValuesSize": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "shards": {
                                                                            "properties": {
                                                                                "queriesGeneric": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "queriesSpecialized": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "resourceUsage": {
                                                                    "properties": {
                                                                        "cache": {
                                                                            "properties": {
                                                                                "disk": {
                                                                                    "properties": {
                                                                                        "hits": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "misses": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "total": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "memory": {
                                                                                    "properties": {
                                                                                        "hits": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "misses": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "total": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "shards": {
                                                                                    "properties": {
                                                                                        "bypassbytes": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "cold": {
                                                                                            "properties": {
                                                                                                "hitbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "missbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "retrievebytes": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "hot": {
                                                                                            "properties": {
                                                                                                "hitbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "missbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "retrievebytes": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "cpu": {
                                                                            "properties": {
                                                                                "kernel": {
                                                                                    "type": "string"
                                                                                },
                                                                                "totalCpu": {
                                                                                    "type": "string"
                                                                                },
                                                                                "user": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "memory": {
                                                                            "properties": {
                                                                                "peakPerNode": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "tables": {
                                                    "items": {
                                                        "properties": {
                                                            "columns": {
                                                                "items": {
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "type"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "rows": {
                                                                "items": {
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "columns",
                                                            "rows"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Severity": {
                                            "type": "string"
                                        },
                                        "SubscriptionId": {
                                            "type": "string"
                                        },
                                        "WorkspaceId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@triggerBody()?['SearchResult']?['tables']",
                            "actions": {
                                "Set_variable": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Rows",
                                        "value": "@items('For_each')?['rows']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "query": "where toupper(id) == '@{first(skip(first(variables('Rows')), 0))}' | extend publicipaddress = properties.ipAddress | extend ipConfiguration = parse_json(properties.ipConfiguration.id) | extend BrkipConfig = split(ipConfiguration, '/') | extend typeassetassociatedwith = tostring(BrkipConfig[7]) | extend nameassetassociatedwith = tostring(BrkipConfig[8]) | extend owner = parse_json(tags.owner) | extend dnsname = parse_json(properties.dnsSettings.fqdn) | project id, name, publicipaddress,  dnsname, typeassetassociatedwith, nameassetassociatedwith, location, resourceGroup, managedBy, tags, owner",
                                    "subscriptions": [
                                        "@{first(skip(first(variables('Rows')), 1))}"
                                    ]
                                },
                                "method": "POST",
                                "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2019-04-01"
                            }
                        },
                        "HTTP_2": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "http://@{first(skip(first(variables('Rows')), 3))}"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Rows",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "count": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "properties": {
                                                "columns": {
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "rows": {
                                                    "items": {
                                                        "type": "array"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "facets": {
                                            "type": "array"
                                        },
                                        "resultTruncated": {
                                            "type": "string"
                                        },
                                        "totalRecords": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "HTTP_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>An ongoing DDoS mitigation event has been detected against the following resource:<br>\n<br>\n<strong>Target Public IP:</strong> @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 2))}<br>\n<strong>Public IP Name:</strong> @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 1))}<br>\n<strong>DNS Name:</strong> @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 3))}<br>\n<strong>Attached Resource Type: </strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 4))}<br>\n<strong>Attached Resource Name:</strong> @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 5))}<br>\n<strong>Region: </strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 6))}<br>\n<strong>Resource Group: </strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 7))}<br>\n<strong>Tags:</strong> @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 9))}<br>\n<strong>Public IP Resource ID:</strong> @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 0))}<br>\n<strong>Attached Resource ID:</strong> @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 8))}<br>\n<strong>Resource Owner: </strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 10))}@{parameters('companyDomain')}<br>\n<br>\n<strong>Message</strong>: @{first(skip(first(variables('Rows')), 2))}<br>\n<br>\n<strong>Link to search results:</strong> @{triggerBody()?['LinkToSearchResults']}<br>\n<br>\nIf DDoS Rapid Response support is necessary, visit the <a href=\"https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request\">general support docs here</a> &nbsp;and the <a href=\"https://docs.microsoft.com/en-us/azure/ddos-protection/ddos-rapid-response\">DDoS Rapid Response instructions here</a> .<br>\n<br>\n<strong>Result of test</strong> against http://@{first(skip(first(variables('Rows')), 3))}<br>\n<strong>Status</strong>: @{outputs('HTTP_2')['statusCode']}<br>\n<strong>Headers</strong>: @{outputs('HTTP_2')['headers']}<br>\n<strong>Body</strong>: @{body('HTTP_2')}<br>\n</p>",
                                    "Importance": "High",
                                    "Subject": "Potential DDoS Attack",
                                    "To": "@{parameters('securityTeamEmail')}; @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 10))}@{parameters('companyDomain')}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Send_an_email_(V2)_2": {
                            "runAfter": {
                                "HTTP_2": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>An ongoing DDoS mitigation event has been detected against the following resource:<br>\n<strong><br>\nTarget Public IP: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 2))}</strong><strong><br>\nPublic IP Name: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 1))}</strong><strong><br>\nDNS Name: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 3))}</strong><strong><br>\nAttached Resource Type: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 4))}</strong><strong><br>\nAttached Resource Name: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 5))}</strong><strong><br>\nRegion: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 6))}</strong><strong><br>\nResource Group: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 7))}</strong><strong><br>\nTags: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 9))}</strong><strong><br>\nPublic IP Resource ID: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 0))}</strong><strong><br>\nAttached Resource ID: </strong><strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 8))}</strong><strong><br>\nResource Owner: </strong>@{first(skip(first(body('Parse_JSON')?['data']?['rows']), 10))}@{parameters('companyDomain')}<br>\n<br>\nMessage: </strong><strong>@{first(skip(first(variables('Rows')), 2))}</strong><strong><br>\n<br>\nLink to search results:</strong> @{triggerBody()?['LinkToSearchResults']}<br>\n<br>\nIf DDoS Rapid Response support is necessary, visit the <a href=\"https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request\">general support docs here </a>&nbsp;and the <a href=\"https://docs.microsoft.com/en-us/azure/ddos-protection/ddos-rapid-response\">DDoS Rapid Response instructions here.</a><br>\n<br>\n<strong>Result of test </strong>against http://@{first(skip(first(variables('Rows')), 3))} failed or timed out.</p>",
                                    "Importance": "High",
                                    "Subject": "Potential DDoS Attack",
                                    "To": "@{parameters('securityTeamEmail')}; @{first(skip(first(body('Parse_JSON')?['data']?['rows']), 10))}@{parameters('companyDomain')}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    },
                    "securityTeamEmail": {
                        "value": "[parameters('securityTeamEmail')]"
                      },
                      "companyDomain": {
                        "value": "[parameters('companyDomain')]"
                      }
                }
            }
        }
    ]
}