Azure Firewall/Playbook - Add to IP Group with REST API/Playbook - Add to IP Group with REST API.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "Friendly name you want for the playbook (used to derive safe Azure resource names)."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "ipGroupName": {
      "type": "string"
    },
    "ipGroupResourceGroup": {
      "type": "string"
    },
    "ipGroupSubscriptionId": {
      "type": "string"
    }
  },
  "variables": {
    "safeBaseName": "[toLower(replace(replace(replace(replace(replace(replace(replace(replace(parameters('logicAppName'), ' ', '-'), '/', '-'), '\\\\', '-'), ':', '-'), '.', '-'), '#', '-'), '(', '-'), ')', '-'))]",
    "workflowName": "[variables('safeBaseName')]",
    "azureSentinelConnectionName": "[concat('azuresentinel-', variables('safeBaseName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('workflowName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "hidden-SentinelTemplateName": "Firewall-IPGroup-Update-REST",
        "displayName": "[parameters('logicAppName')]"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "ipGroupName": {
              "type": "String"
            },
            "ipGroupResourceGroup": {
              "type": "String"
            },
            "ipGroupSubscriptionId": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_IPs": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/ip"
              }
            },
            "Initialize_IPAddresses": {
              "runAfter": {
                "Entities_-_Get_IPs": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "IPAddresses",
                    "type": "array",
                    "value": []
                  },
                  {
                    "name": "AddedIPs",
                    "type": "array",
                    "value": []
                  },
                  {
                    "name": "Changed",
                    "type": "boolean",
                    "value": false
                  }
                ]
              }
            },
            "HTTP_Get_target_ipGroup": {
              "runAfter": {
                "Initialize_IPAddresses": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@concat('https://management.azure.com/subscriptions/', parameters('ipGroupSubscriptionId'), '/resourceGroups/', parameters('ipGroupResourceGroup'), '/providers/Microsoft.Network/ipGroups/', parameters('ipGroupName'), '?api-version=2020-07-01')",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com/"
                }
              }
            },
            "Set_existing_IPs": {
              "runAfter": {
                "HTTP_Get_target_ipGroup": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "IPAddresses",
                "value": "@coalesce(body('HTTP_Get_target_ipGroup')?['properties']?['ipAddresses'], createArray())"
              }
            },
            "For_each_IP_in_incident": {
              "runAfter": {
                "Set_existing_IPs": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              },
              "actions": {
                "If_IP_not_present_add": {
                  "type": "If",
                  "expression": "@not(contains(variables('IPAddresses'), item()?['Address']))",
                  "actions": {
                    "Append_to_IPAddresses": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "IPAddresses",
                        "value": "@item()?['Address']"
                      }
                    },
                    "Append_to_AddedIPs": {
                      "runAfter": {
                        "Append_to_IPAddresses": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "AddedIPs",
                        "value": "@item()?['Address']"
                      }
                    },
                    "Set_Changed_true": {
                      "runAfter": {
                        "Append_to_AddedIPs": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Changed",
                        "value": true
                      }
                    }
                  }
                }
              }
            },
            "If_Changed_then_update_ipGroup": {
              "runAfter": {
                "For_each_IP_in_incident": [
                  "Succeeded"
                ]
              },
              "type": "If",
              "expression": "@equals(variables('Changed'), true)",
              "actions": {
                "HTTP_PUT_update_ipGroup": {
                  "type": "Http",
                  "inputs": {
                    "method": "PUT",
                    "uri": "@concat('https://management.azure.com/subscriptions/', parameters('ipGroupSubscriptionId'), '/resourceGroups/', parameters('ipGroupResourceGroup'), '/providers/Microsoft.Network/ipGroups/', parameters('ipGroupName'), '?api-version=2020-07-01')",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "location": "@body('HTTP_Get_target_ipGroup')?['location']",
                      "properties": {
                        "ipAddresses": "@variables('IPAddresses')"
                      },
                      "tags": {
                        "Configuration": "Sentinel-Auto"
                      }
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com/"
                    }
                  }
                },
                "Add_comment_to_incident": {
                  "runAfter": {
                    "HTTP_PUT_update_ipGroup": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "@concat('<p><strong>Azure Firewall Auto-Block Playbook</strong><br/>Added IP(s) to IP Group.<br/><strong>IPs:</strong> ', join(variables('AddedIPs'), ', '), '<br/><strong>IP Group:</strong> ', parameters('ipGroupName'), '<br/><strong>Resource Group:</strong> ', parameters('ipGroupResourceGroup'), '</p>')"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Add_comment_no_change": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/Incidents/Comment",
                      "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "@concat('<p><strong>Azure Firewall Auto-Block Playbook</strong><br/>No change. All incident IPs already present in IP Group: <strong>', parameters('ipGroupName'), '</strong>.</p>')"
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "ipGroupName": {
            "value": "[parameters('ipGroupName')]"
          },
          "ipGroupResourceGroup": {
            "value": "[parameters('ipGroupResourceGroup')]"
          },
          "ipGroupSubscriptionId": {
            "value": "[parameters('ipGroupSubscriptionId')]"
          },
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "deployedWorkflowName": {
      "type": "string",
      "value": "[variables('workflowName')]"
    },
    "sentinelConnectionName": {
      "type": "string",
      "value": "[variables('azureSentinelConnectionName')]"
    }
  }
}
