Azure Firewall/Template - Logic App and Automation Account for Adding O365 Rules to Azure Firewall/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Playbook_Name": {
            "defaultValue": "O365-RCG-AzFW",
            "type": "String"
        },
        "Automation_Account_Name": {
            "defaultValue": "O365FWRules",
            "type": "String"
        },
        "Username": {
            "defaultValue": "<username>@<domain>",
            "type": "String"
        },
        "Recipient_Address": {
            "defaultValue": "<username>@<domain>",
            "type": "String"
        },
        "Subscription_ID": {
            "defaultValue": "",
            "type": "String"
        },
        "Resource_Group_Name": {
            "defaultValue": "",
            "type": "String"
        },
        "Policy_Name": {
            "defaultValue": "",
            "type": "String"
        },
        "Policy_SKU": {
            "defaultValue": "Premium",
            "type": "String"
        },
        "deployments___encodeURIComponent__o365fwRules____externalid": {
            "defaultValue": "/subscriptions/@{encodeURIComponent(variables('subscriptionId'))}/resourceGroups/@{encodeURIComponent(variables('resourceGroupName'))}/providers/Microsoft.Resources/deployments/@{encodeURIComponent('o365fwRules')}",
            "type": "String"
        }
    },
    "variables": {
        "connections_arm_name": "arm",
        "connections_office365_name": "office365",
        "connections_azureautomation_name": "azureautomation"
    },
    "resources": [
        {
            "type": "Microsoft.Automation/automationAccounts",
            "apiVersion": "2021-06-22",
            "name": "[parameters('Automation_Account_Name')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "publicNetworkAccess": true,
                "disableLocalAuth": false,
                "sku": {
                    "name": "Basic"
                },
                "encryption": {
                    "keySource": "Microsoft.Automation",
                    "identity": {}
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connections_arm_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('Username')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connections_azureautomation_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('Username')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureautomation')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connections_office365_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('Username')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Automation/automationAccounts/connectionTypes",
            "apiVersion": "2020-01-13-preview",
            "name": "[concat(parameters('Automation_Account_Name'), '/AzureFW')]",
            "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('Automation_Account_Name'))]"
            ],
            "properties": {
                "isGlobal": false,
                "fieldDefinitions": {
                    "AutomationCertificateName": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "System.String"
                    },
                    "SubscriptionID": {
                        "isEncrypted": false,
                        "isOptional": false,
                        "type": "System.String"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Automation/automationAccounts/runbooks",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('Automation_Account_Name'), '/o365_rules')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('Automation_Account_Name'))]"
            ],
            "properties": {
                "runbookType": "Python3",
                "logVerbose": false,
                "logProgress": false,
                "logActivityTrace": 0,
			  "publishContentLink": {
                    "uri": "https://raw.githubusercontent.com/Azure/Azure-Network-Security/master/Azure%20Firewall/Template%20-%20Logic%20App%20and%20Automation%20Account%20for%20Adding%20O365%20Rules%20to%20Azure%20Firewall/o365_rules.py",
                    "version": "v1"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('Playbook_Name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('connections_arm_name'))]",
                "[resourceId('Microsoft.Web/connections', variables('connections_azureautomation_name'))]",
                "[resourceId('Microsoft.Web/connections', variables('connections_office365_name'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 2
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Week",
                                "interval": 2
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_job": {
                            "runAfter": {
                                "Initialize_variable_-_firewallSKU": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "properties": {
                                        "parameters": {
                                            "Parameter1": "--policy-name=@{variables('firewallPolicyName')}",
                                            "Parameter2": "--policy-sku=@{variables('firewallSKU')}"
                                        }
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/subscriptions/@{encodeURIComponent(variables('subscriptionId'))}/resourceGroups/@{encodeURIComponent(variables('resourceGroupName'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('o365fwrules')}/jobs",
                                "queries": {
                                    "runbookName": "o365_rules",
                                    "wait": true,
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                        "Create_or_update_a_template_deployment": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "properties": {
                                        "mode": "Incremental",
                                        "template": "[concat('@json(variables(''', parameters('Playbook_Name'), '''))')]"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "[parameters('deployments___encodeURIComponent__o365fwRules____externalid')]",
                                "queries": {
                                    "wait": true,
                                    "x-ms-api-version": "2016-06-01"
                                }
                            }
                        },
                        "Get_job_output": {
                            "runAfter": {
                                "Create_job": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/subscriptions/@{encodeURIComponent(variables('subscriptionId'))}/resourceGroups/@{encodeURIComponent(variables('resourceGroupName'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('o365fwrules')}/jobs/@{encodeURIComponent(body('Create_job')?['properties']?['jobId'])}/output",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Get_job_output": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "[parameters('Playbook_Name')]",
                                        "type": "string",
                                        "value": "@{body('Get_job_output')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_firewallPolicyName": {
                            "runAfter": {
                                "Initialize_variable_-_resourceGroupName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "firewallPolicyName",
                                        "type": "string",
                                        "value": "[parameters('Policy_Name')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_firewallSKU": {
                            "runAfter": {
                                "Initialize_variable_-_firewallPolicyName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "firewallSKU",
                                        "type": "string",
                                        "value": "[parameters('Policy_SKU')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_resourceGroupName": {
                            "runAfter": {
                                "Initialize_variable_-_subscriptionId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceGroupName",
                                        "type": "string",
                                        "value": "[parameters('Resource_Group_Name')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_subscriptionId": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subscriptionId",
                                        "type": "string",
                                        "value": "[parameters('Subscription_ID')]"
                                    }
                                ]
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Create_or_update_a_template_deployment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Office 365 Rules Firewall Policy updated.</p>",
                                    "Importance": "Normal",
                                    "Subject": "Firewall Policy for O365",
                                    "To": "[parameters('Recipient_Address')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_arm_name'))]",
                                "connectionName": "arm",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                            },
                            "azureautomation": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_azureautomation_name'))]",
                                "connectionName": "azureautomation",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureautomation')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connections_office365_name'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
