Lab Templates/Lab Template - NetSec Demo Lab/LogicApps/enable.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "resourceNames": {
      "type": "object"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('resourceNames').enableDdosProtectionApp]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "ddosProtectionPlanId": {
              "defaultValue": "[resourceId('Microsoft.Network/ddosProtectionPlans', parameters('resourceNames').ddosProtectionPlan)]",
              "type": "String"
            },
            "location": {
              "defaultValue": "[resourceGroup().location]",
              "type": "String"
            },
            "vNetId": {
              "defaultValue": "[resourceId('Microsoft.Network/virtualNetworks', parameters('resourceNames').vnet1)]",
              "type": "String"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {}
            }
          },
          "actions": {
            "Check_if_protection_is_enabled": {
              "actions": {
                "Compose": {
                  "runAfter": {
                    "Create_plan": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": {
                    "id": "@{parameters('ddosProtectionPlanId')}"
                  }
                },
                "Create_plan": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "type": "ManagedServiceIdentity"
                    },
                    "body": {
                      "location": "@{parameters('location')}"
                    },
                    "method": "PUT",
                    "path": "@{parameters('ddosProtectionPlanId')}",
                    "uri": "https://management.azure.com@{parameters('ddosProtectionPlanId')}?api-version=2020-04-01"
                  }
                },
                "Enable_protection": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "type": "ManagedServiceIdentity"
                    },
                    "body": "@setProperty(body('Get_vNet'), 'properties', setProperty(setProperty(variables('vNetProperties'), 'enableDdosProtection', true), 'ddosProtectionPlan', outputs('Compose')))",
                    "method": "PUT",
                    "uri": "https://management.azure.com@{parameters('vNetId')}?api-version=2020-03-01"
                  }
                },
                "Response_Created": {
                  "runAfter": {
                    "Enable_protection": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 201
                  }
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Response": {
                    "runAfter": {},
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Get_vNet').properties.enableDdosProtection",
                      false
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Get_vNet": {
              "runAfter": {},
              "type": "Http",
              "inputs": {
                "authentication": {
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://management.azure.com@{parameters('vNetId')}?api-version=2020-03-01"
              }
            },
            "Initialize_variable": {
              "runAfter": {
                "Get_vNet": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vNetProperties",
                    "type": "object",
                    "value": "@body('Get_vNet').properties"
                  }
                ]
              }
            }
          },
          "outputs": {}
        }
      }
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2019-04-01-preview",
      "name": "[guid(resourceGroup().id, 'enableApp')]",
      "dependsOn": [ "[resourceId('Microsoft.Logic/workflows', parameters('resourceNames').enableDdosProtectionApp)]" ],
      "properties": {
        "roleDefinitionId": "[concat(subscription().id, '/providers/Microsoft.Authorization/roleDefinitions/', 'b24988ac-6180-42a0-ab88-20f7382dd24c')]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('resourceNames').enableDdosProtectionApp), '2017-07-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal",
        "scope": "[resourceGroup().id]"
      }
    }
  ],
  "outputs": {}
}